.menu {
  background-color: #00a03e;
  padding: 1.25rem;
  position: absolute;
  right: -1px;
  top: calc(1rem + 5px);
  z-index: 1;

  &__item {
    list-style-type: none;

    &:not(:last-child) {
      padding-bottom: 1rem;
    }
  }

  &__button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;

    &_danger {
      color: #ff8080;
    }
  }
}
