@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.2;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: calc(1vw + 6px);
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

body {
  font-size: 5vw;
}

@media (max-width: 800px) {
  body {
    font-size: 10vw;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.logo {
  width: 100%;
  height: auto;
  margin-bottom: -1rem;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 800px) {
  .block {
    height: auto;
  }
}

.block__content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
}

@media (max-width: 800px) {
  .block__content {
    width: 65%;
  }
}

.block__logo {
  background-color: #00a03e;
}

.block__logo_wrapper {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .block__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.main {
  background-color: #00a03e;
  width: 100%;
}

.paper {
  width: 90%;
  min-height: calc(100vh - 14vw);
  margin: auto;
  padding-top: 2rem;
  background-color: #fff;
  border-top-left-radius: 1.75rem;
  border-top-right-radius: 1.75rem;
}

.content {
  width: 80%;
  margin: auto;
  padding-bottom: 1rem;
}

.input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.4rem;
}

.input__error {
  color: red;
  font-size: 0.875rem;
  height: 0.875rem;
  line-height: 1;
}

#root {
  height: 100%;
}

#root .MuiTypography-h1 {
  font-size: 1.5em;
  text-align: center;
}

#root .MuiTypography-h2 {
  font-weight: 300;
  line-height: 1;
  font-family: inherit;
  font-size: 3.5rem;
}

#root .MuiLink-underlineHover {
  color: #454545;
  cursor: pointer;
  margin-top: 8px;
}

#root .navigation__link .MuiButton-label,
#root .addEmployee__form .MuiButton-label {
  font-size: 1rem;
}

#root .block__form .MuiButton-root {
  margin-top: 10px;
}

#root .block__form .MuiButton-label {
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1;
}

.menu {
  background-color: #00a03e;
  padding: 1.25rem;
  position: absolute;
  right: -1px;
  top: calc(1rem + 5px);
  z-index: 1;
}

.menu__item {
  list-style-type: none;
}

.menu__item:not(:last-child) {
  padding-bottom: 1rem;
}

.menu__button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.menu__button_danger {
  color: #ff8080;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 800px) {
  .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.login__form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.organizations__address {
  font-size: 1rem;
  font-weight: 300;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00a03e;
  height: 14vw;
}

.header__logo {
  width: 10%;
  margin-bottom: -1vw;
}

.header__dashboard {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__dashboard_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__links_a {
  color: #fff;
}

.header__links_a:hover {
  text-decoration: underline;
}

.header__title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  color: #fff;
}

.header__controllers {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__address {
  font-size: 1rem;
}

.navigation {
  width: calc(90% + 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.navigation__link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1rem;
  line-height: 1;
}

.staff__item {
  border: 1px solid #0087cb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.75rem;
  position: relative;
}

.staff__item__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
}

.staff__item__avatar_img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.staff__item__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.staff__item__info_employee {
  text-transform: capitalize;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.staff__item__info_employee_p {
  padding-right: 1rem;
  line-height: 1.2;
}

.staff__item__info_employee_span {
  font-size: 0.75rem;
}

.staff__item__info_tips {
  font-size: 1rem;
  line-height: 1.2;
  padding-top: 0.5rem;
}

.staff__item__controllers {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.staff__item__controllers_btn {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.staff__item__controllers_btn:focus {
  outline: none;
}

.staff__item__controllers_circle {
  width: 5px;
  height: 5px;
  background-color: #0087cb;
  border-radius: 50%;
  margin-left: 5px;
}

.staff__controllers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  padding: 1rem 0;
}

.staff__controllers_btn {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
  color: #0087cb;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  margin-right: -1.1rem;
}

.staff__controllers_btn:hover {
  border-bottom-color: #0087cb;
}

.staff__controllers_btn_mid {
  color: #000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.staff__controllers_btn_mid:hover {
  border-bottom-color: #000;
}

.staff__controllers_mid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.staff__controllers_subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin-left: 1.1rem;
}

.staff__controllers_title {
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}

.addEmployee__form {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.addEmployee__form_wrapper {
  width: 100%;
  padding-top: 0.5rem;
}

.addEmployee__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 1rem;
}

.addEmployee__avatar_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  padding: 5px 0;
  padding-left: 2rem;
}

.addEmployee__avatar_label {
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.addEmployee__avatar_label:hover {
  text-decoration: underline;
}

.addEmployee__avatar_label:focus {
  outline: none;
}

.addEmployee__avatar_input {
  display: none;
}

.editPhoto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editPhoto__btn {
  width: 20%;
  max-width: 180px;
  min-width: 100px;
}

.editPhoto__btn .MuiButtonBase-root .MuiButton-label {
  font-size: 1rem;
}

.editPhoto__controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5rem;
  width: 20vw;
}

.editPhoto__label {
  font-size: 1rem;
}

.takePhoto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.takePhoto__wrapper {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00a03e;
}

.takePhoto__item {
  border: none;
}

.takePhoto__btn {
  background-color: transparent;
  border: none;
  width: 5vw;
  min-width: 30px;
  margin: 0 2rem;
  cursor: pointer;
}

.takePhoto__btn:focus {
  outline: none;
}

.takePhoto__btn svg {
  fill: #00a03e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.takePhoto__btn:hover svg {
  fill: #ffa200;
}
/*# sourceMappingURL=index.css.map */